! Generated candidate config for {{ device.name }}
! Enterprise v7 logical collapsed Core/Distribution pair.
! This candidate does not invent FHRP/StackWise/VSS/MLAG syntax for an unknown platform.
hostname {{ device.name }}
ip routing
!
{% for vlan in site_vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name }}
!
{% endfor %}
{% for vlan_id in device.svi_vlans %}
{% set vlan = vlans_by_id[vlan_id] %}
interface Vlan{{ vlan.id }}
 description SVI {{ vlan.name }} - {{ vlan.description }}
 ip address {{ vlan.gateway }} {{ vlan.subnet | dotted_netmask }}
{% if vlan.id in config.dhcp_relay.hq_vlans %}
 ip helper-address {{ config.dhcp_relay.server_ip }}
{% endif %}
{% set acl_name = acl_name_for_vlan(config, vlan.id) %}
{% if acl_name %}
 ip access-group {{ acl_name }} in
{% endif %}
 no shutdown
!
{% endfor %}
{% for trunk in interfaces.trunks %}
interface {{ trunk.name }}
 description {{ trunk.description }}
 switchport mode trunk
 switchport trunk allowed vlan {{ trunk.allowed_vlans | join(',') }}
 no shutdown
!
{% endfor %}
{% for iface in interfaces.routed %}
interface {{ iface.name }}
 description {{ iface.description }}
 no switchport
 ip address {{ iface.ip | ip_address }} {{ iface.ip | dotted_netmask }}
 no shutdown
!
{% endfor %}
ip route 0.0.0.0 0.0.0.0 {{ routes.default_route.next_hop }} name DEFAULT_TO_HQ_FIREWALL
{% for route in routes.user_routes %}
ip route {{ route.prefix | prefix_to_ios }} {{ route.next_hop }} name FIREWALL_IPSEC_INTERSITE
{% endfor %}
!
{% for policy in config.hq_project_isolation %}
{% set src = vlans_by_id[policy.source_vlan] %}
ip access-list extended {{ policy.name }}
 remark Least-privilege inbound policy for Project VLAN {{ policy.source_vlan }}
{% for dst_id in policy.deny_destination_vlans %}
{% set dst = vlans_by_id[dst_id] %}
 deny ip {{ src.subnet | prefix_to_acl }} {{ dst.subnet | prefix_to_acl }} log
{% endfor %}
{% for host in policy.allow_service_hosts %}
 permit ip {{ src.subnet | prefix_to_acl }} host {{ host }}
{% endfor %}
{% for prefix in policy.deny_internal_prefixes %}
 deny ip {{ src.subnet | prefix_to_acl }} {{ prefix | prefix_to_acl }} log
{% endfor %}
{% if policy.allow_internet %}
 permit ip {{ src.subnet | prefix_to_acl }} any
{% else %}
 deny ip {{ src.subnet | prefix_to_acl }} any log
{% endif %}
!
{% endfor %}
{% for policy in config.hq_zone_policies %}
{% set src = vlans_by_id[policy.source_vlan] %}
ip access-list extended {{ policy.name }}
 remark Least-privilege inbound policy for enterprise VLAN {{ policy.source_vlan }}
{% for host in policy.allow_service_hosts %}
 permit ip {{ src.subnet | prefix_to_acl }} host {{ host }}
{% endfor %}
{% for prefix in policy.deny_internal_prefixes %}
 deny ip {{ src.subnet | prefix_to_acl }} {{ prefix | prefix_to_acl }} log
{% endfor %}
{% if policy.allow_internet %}
 permit ip {{ src.subnet | prefix_to_acl }} any
{% else %}
 deny ip {{ src.subnet | prefix_to_acl }} any log
{% endif %}
!
{% endfor %}
ip access-list extended {{ config.management_policy.name }}
 remark Permit only approved IT/jump sources
{% for source in config.admin_allowed_sources %}
 permit ip {{ source | prefix_to_acl }} any
{% endfor %}
 deny ip any any log
!
! VLAN 93 gateway 10.10.93.1 exists only at HQ.
! Dual CE handoffs are Layer-2 attachment circuits; no provider pseudowire syntax is invented here.
end
