! Generated candidate config for {{ device.name }}
! Enterprise v7 logical collapsed Core/Distribution pair.
! Do not add an SVI for VLAN 93 at Branch.
hostname {{ device.name }}
ip routing
!
{% for vlan in site_vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name }}
!
{% endfor %}
{% for vlan_id in device.svi_vlans %}
{% set vlan = vlans_by_id[vlan_id] %}
interface Vlan{{ vlan.id }}
 description SVI {{ vlan.name }} - {{ vlan.description }}
 ip address {{ vlan.gateway }} {{ vlan.subnet | dotted_netmask }}
{% set acl_name = acl_name_for_vlan(config, vlan.id) %}
{% if acl_name %}
 ip access-group {{ acl_name }} in
{% endif %}
 no shutdown
!
{% endfor %}
{% if 93 in device.no_svi_vlans %}
! VLAN 93 is Layer-2 stretched to HQ; no interface Vlan93 is generated here.
{% endif %}
{% for trunk in interfaces.trunks %}
interface {{ trunk.name }}
 description {{ trunk.description }}
 switchport mode trunk
 switchport trunk allowed vlan {{ trunk.allowed_vlans | join(',') }}
 no shutdown
!
{% endfor %}
{% for iface in interfaces.routed %}
interface {{ iface.name }}
 description {{ iface.description }}
 no switchport
 ip address {{ iface.ip | ip_address }} {{ iface.ip | dotted_netmask }}
 no shutdown
!
{% endfor %}
ip route 0.0.0.0 0.0.0.0 {{ routes.default_route.next_hop }} name DEFAULT_TO_BRANCH_FIREWALL
{% for route in routes.intersite_routes %}
ip route {{ route.prefix | prefix_to_ios }} {{ route.next_hop }} name IPSEC_INTERSITE
{% endfor %}
!
{% for policy in config.branch_policies %}
{% set src = vlans_by_id[policy.source_vlan] %}
ip access-list extended {{ policy.name }}
 remark Least-privilege policy for Branch VLAN {{ policy.source_vlan }}
{% for dst_id in policy.deny_destination_vlans %}
{% set dst = vlans_by_id[dst_id] %}
 deny ip {{ src.subnet | prefix_to_acl }} {{ dst.subnet | prefix_to_acl }} log
{% endfor %}
{% for service in policy.allowed_service_hosts %}
{% if service.protocol == 'ip' %}
 permit ip {{ src.subnet | prefix_to_acl }} host {{ service.ip }}
{% else %}
 permit {{ service.protocol }} {{ src.subnet | prefix_to_acl }} host {{ service.ip }} eq {{ service.port }}
{% endif %}
{% endfor %}
{% for prefix in policy.deny_internal_prefixes %}
 deny ip {{ src.subnet | prefix_to_acl }} {{ prefix | prefix_to_acl }} log
{% endfor %}
 deny ip {{ src.subnet | prefix_to_acl }} any log
!
{% endfor %}
! VLAN 93 stays Layer 2 through CE-BR1/CE-BR2; its gateway is 10.10.93.1 at HQ.
end
